<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BDBT Spring Boot Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Main
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="text-left">
    <a th:href="@{main_admin}" class="btn btn-info" type="submit">Back
    </a>
</div>

<div>
    <h1 class="text-center">Domy seniorów</h1>
</div>

<br/>
<div class="text-center">
    <a th:href="@{new_house}" class="btn btn-success btn-lg" type="submit">Dodaj nowy dom seniora
    </a>
</div>

<br/><br/>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
        <thead>
        <tr>
            <th>ID domu</th>
            <th>nazwa</th>
            <th>data założenia</th>
            <th>Właściciel</th>
            <th>ID adresu</th>
            <th>Funkcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="domy : ${listDomy}">
            <td th:text="${domy.id_domu}">ID domu</td>
            <td th:text="${domy.nazwa}">Nazwa</td>
            <td th:text="${domy.data_zalozenia}">Data założenia</td>
            <td th:text="${domy.wlasciciel}">Właściciel</td>
            <td th:text="${domy.id_adresu}">ID adresu</td>
            <td>
                <a th:href="@{'/editDom/' + ${domy.id_domu}}">Edytuj</a>
                <a th:href="@{'/deleteDom/' + ${domy.id_domu}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>