<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy pracownik</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">BDBT Spring Boot Project - Part II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Main
                        <span class="sr-only">(current)</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<div>
    <h1>Edytuj pracownika</h1>

    <br/>

    <form action="#" th:action="@{/update}" th:object="${pracownicy}" method="post">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{id_pracownika}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Imie:</td>
                <td><input type="text" th:field="*{imie}"></td>
            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td><input type="text" th:field="*{nazwisko}"></td>
            </tr>
            <tr>
                <td>Data Urodzenia:</td>
                <td><input type="text" th:field="*{data_urodzenia}"></td>
            </tr>
            <tr>
                <td>Płeć:</td>
                <td><input type="text" th:field="*{plec}"></td>
            </tr>
            <tr>
                <td>Stanowisko:</td>
                <td><input type="text" th:field="*{stanowisko}"></td>
            </tr>
            <tr>
                <td>Płaca:</td>
                <td><input type="text" th:field="*{placa}"></td>
            </tr>
            <tr>
                <td>Adres email:</td>
                <td><input type="text" th:field="*{adres_email}"></td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td><input type="text" th:field="*{telefon}"></td>
            </tr>
            <tr>
                <td>Data Zatrudnienia:</td>
                <td><input type="text" th:field="*{data_zatrudnienia}"></td>
            </tr>
            <tr>
                <td>Data Zwolnienia:</td>
                <td><input type="text" th:field="*{data_zwolnienia}"></td>
            </tr>
            <tr>
                <td>Id Domu:</td>
                <td><input type="text" th:field="*{id_domu}"></td>
            </tr>
            <tr>
                <td>Id Adresu:</td>
                <td><input type="text" th:field="*{id_adresu}"></td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Zapisz</button></td>
            </tr>

        </table>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>